* {box-sizing: border-box;}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: lightgreen;
}

body, a {
  background-color: #333;
  color: lemonchiffon;
}

header, #introduction {
  text-align: center;
}